/* Animationen */

.recipe-rotation{
    animation-name: rotation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.recipe-rotation-outro{
    animation-name: rotation-outro;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
.scale-big {
  transform: scale(1.04);
  transition: transform 0.4s ease-in-out;
}

.scale-normal {
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

@keyframes rotation {
    0% {
        transform: translate(-100%, 0) scale(.9);
        opacity: 0;
    }
    100% {
        transform: translate(0 0);
        opacity: 1;
    }
} 

@keyframes rotation-outro{

    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(100%, 0) scale(.9);
        opacity: 0;
    }
}