#chatdiv{

    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    border-radius: 10px;
    /* background-image: linear-gradient(to top, #ff0000 0%, #696969 100%); */
}
#chatbox{
    height: 80%;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
}
#inputsection{
    position: absolute;
    bottom: 1%;
    height: 60px;
    width: clamp(60%, 70%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 87, 87);
    gap: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
#input{
    width: 80%;
    height: 50px;
    padding: 10px;
    font-size: clamp(7px, 2.5vw, 18px);
    border-radius: 5px;
    border: none;
    outline: none;
    background: transparent;
    word-break:normal;
    overflow-y: visible;
    resize: none;
    justify-content: center;
    color: white;
}
#input::placeholder{
    color: rgb(199, 199, 199);
}
#send{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(108, 108, 108);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    border: 0.5px solid black;
}
.usermessage{
    position: relative;
    width: auto;
    max-width: 80%;
    align-self: end;
    word-break: break-word;
    animation: 0.5s ease-in-out;
    opacity: 1;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 40px;
    color: white;
}
.usermessage::before{
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -40px; 
}

.botmessage{
    position: relative;
    width: auto;
    max-width: 80%;
    align-self: start;
    word-break: break-word;
    animation: 0.5s ease-in-out;
    opacity: 1;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 40px;
    color: white;
}
.botmessage::before{
    content: "";
    background-image: url("INTERFACE/source/media/images/LIGHT-MODE-LOGO.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: -40px; 
}