/* Chat Container */
#chatdiv {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    border-radius: 10px;
    top: 5vh;
}

/* Chatbox */
#chatbox {
    height: 80%;
    width: 80%;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 24px;
    box-sizing: border-box;
}

/* Input Section */
#inputsection {
    position: absolute;
    bottom: 1%;
    height: 60px;
    width: clamp(60%, 50%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 1px 1px 1px 2px black;
    border-radius: 20px;
}

#input {
    width: 80%;
    height: 50px;
    padding: 10px;
    font-size: clamp(7px, 2.5vw, 18px);
    border-radius: 5px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    word-break: normal;
    overflow-y: visible;
    resize: none;
}

#input::placeholder {
    color: rgb(199, 199, 199);
}

#send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(108, 108, 108);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    border: 0.5px solid black;
}

/* Messages */
.usermessage, .botmessage {
    position: relative;
    width: auto;
    max-width: 80%;
    word-break: break-word;
    animation: 0.5s ease-in-out;
    opacity: 1;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #212529;
}

.usermessage {
    align-self: end;
    margin-right: 50px;
}

.usermessage::before {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
}

.botmessage {
    align-self: start;
    margin-left: 50px;
}

.botmessage::before {
    content: "";
    background-image: url("/INTERFACE/source/media/images/WHITE-MODE-LOGO2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
}

/* HR */
hr {
    color: white;
}

/* Welcome Animation */
#startwelcomemessage > h4 {
    background: linear-gradient(45deg, white 0%, black 10%, white 30%, white 50%, white 70%, white 100%);
    background-size: 300% auto;
    background-clip: text;
    color: transparent;
    background-position: -100% 0%;
    animation: helloflow 10s linear infinite;
}

@keyframes helloflow {
    0% {
        background-position: 100% 0;
    }
    20%, 100% {
        background-position: -100% 0;
    }
}

/* Chat List Sidebar */
#chatlist {
    z-index: 10;
    width: 20%;
    height: 100%;
    background-color: #343a40;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

#chatlist > ul {
    padding: 0;
    list-style: none;
}

.chatItem, .chatAdd {
    max-width: 300px;
    position: relative;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.chat-collapsed {
    max-width: 55px;
}

#chatlist > ul > li {
    background-color: #212529;
    padding: 2%;
    border-radius: 20px;
    margin: 5% 0;
    cursor: pointer;
    display: flex;
    justify-items: center;
}

#chatlist > ul > li > p {
    margin: 10px;
}

#chatlist > ul > li > img {
    filter: invert(0%);
    margin: auto 0;
}

.collapselist {
    max-width: 300px;
    position: relative;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

/* Responsive */
@media (max-width: 791px) {
    .collapselist, .chatAdd, .chatItem {
        width: fit-content;
    }
    .collapselist > img, .chatAdd > img {
        width: 50px;
        height: 50px;
    }
    .chatItem > img {
        width: 30px;
        height: 30px;
    }
    .collapselist > p, .chatAdd > p, .chatItem > p {
        display: none;
    }
}

@media (max-width: 400px) {
    #chatlist {
        position: absolute;
    }
    .collapselist {
        width: 40px;
    }
    .collapselist > img {
        width: 40px;
        height: 40px;
    }
    .chatAdd, .chatItem {
        display: none;
    }
}
