.card{
}
.card:hover{
    transform: scale(1.02);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 100;
}

form {
    width: clamp(200px, 40%, 300px);
    float: right;
}
form > input {
    width: 80%;
}
@media (max-width: 220px) {
    form {
        transform: scale(0.6);
        align-self: center;
    }
}
#row0 {
    display: none;
}
#searchtitle {
    display: none;
}
.scrollframe {
    height: fit-content;
    overflow-x: scroll;
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 10px;
    justify-content: center;
}
.scrollframe .card {
    flex-shrink: 0;
}
.scrollframe::-webkit-scrollbar {
    height: 8px;
    background-color: #222;
    border-radius: 5px;
}
.scrollframe::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}
.title {
    font-size: 2rem;
}
#searchinput {
    background-color: transparent;
    color: inherit;
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: none;
}