html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.darkmode.primary {
    background-color: #212529;
}
.darkmode.secondary {
    background-color: #343a40;
}
.darkmode.tertiary {
    background-color: #495057;
}
.darkmode.text{
    color: #f8f9fa;
}
.lightmode.primary {
    background-color: #ffffff;
}
.lightmode.secondary {
    background-color: #f8f9fa;
}
.lightmode.tertiary {
    background-color: #e9ecef;
}
.lightmode.text{
    color: #212529;
}
.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}
#recipe-rotation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 25rem;
}
#theme-toggle {
    border: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.396);
}
#theme-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#theme-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
#theme-icon img {
    display: block;
}
.light-theme #theme-toggle {
    border: none;
    color: #212529;
}
.light-theme #theme-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.light-theme .navbar {
    background-color: #f8f9fa !important;
}
.light-theme .navbar-brand,
.light-theme .nav-link {
    color: #212529 !important;
}
.light-theme .navbar-toggler {
    border-color: #212529;
}
.light-theme .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.light-theme .dropdown-menu {
    background-color: #ffffff !important;
    color: #212529 !important;
}
.aboutustext1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}
.aboutustext2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}